{% extends 'layouts/base.html' %}

{% block title %} Paramettres {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    #profilePicture {
  object-fit: cover;
}

</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">


    <div class="row">
      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-header pb-0 px-3">
            <h6 class="mb-0">PARAMETTRES ET INFORMATIONS</h6>
          </div>
          <div class="card-body pt-4 p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column align-items-center mb-4">
                    <!-- Photo de profil -->
                    <div class="position-relative">
                        <img src="{{ ASSETS_ROOT }}/img/bruce-mars.jpg" id="profilePicture" alt="Photo de profil" class="rounded-circle border border-2" width="100" height="100">
                        <button class="position-absolute bottom-0 end-0 bg-gradient-success text-white rounded-circle px-2 py-1 border-0" data-bs-toggle="modal" data-bs-target="#profileModal" style="cursor: pointer;">
                          <i class="fas fa-camera"></i>
                        </button>
                    </div>                      
                  </div>
                  
                  <div class="d-flex flex-column mx-3">
                    <h6 class="mb-3 text-sm">INFORMATIONS</h6>
                    <span class="mb-2 text-xs">Nom d'utilisateur: <span class="text-dark font-weight-bold ms-sm-2"> {{request.user.username}} </span></span>
                    <span class="mb-2 text-xs">Addresse Email: <span class="text-dark ms-sm-2 font-weight-bold"> {{request.user.email}} </span></span>
                    <span class="mb-2 text-xs">Numéro de Téléphone: <span class="text-dark ms-sm-2 font-weight-bold">{{request.user.phone}}</span></span>
                    <span class="mb-2 text-xs">Numéro de Whatsapp: <span class="text-dark ms-sm-2 font-weight-bold">{{request.user.whatsapp}}</span></span>
                  </div>
                <div class="ms-auto text-end">
                  <a class="btn btn-link text-dark px-3 mb-0" data-bs-toggle="modal" data-bs-target="#informationsModal" href="javascript:;"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Modifier</a>
                </div>
              </li>
              {% if request.user.type == "Passenger" %}
              <li class="list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm">PARAMETTRES DES MARGES DE RESERVATIONS</h6>
                  <span class="mb-2 text-xs">Marge de prix des Trajets: <span class="text-dark font-weight-bold ms-sm-2">05 TND</span></span>
                  <span class="mb-2 text-xs">Marge d'heure de départ: <span class="text-dark ms-sm-2 font-weight-bold">30 Minutes</span></span>
                </div>
                <div class="ms-auto text-end">
                  <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Modifier</a>
                </div>
              </li>
              {% endif %}
              <li class="list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm">PARAMETTRES DES NOTTIFICATIONS</h6>
                  <ul class="list-group">
                    <li class="list-group-item border-0 px-0">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault3">
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault3">Activer Nottification par SMS</label>
                      </div>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault4">
                        <label class="form-check-label text-body ms-3 mb-0" for="flexSwitchCheckDefault4">Activer Nottification par Whatsapp</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!--Modal de Mise à jour de la photo de profil-->
      <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="mt-3 text-center align-items-center">
                <button id="deletePhotoBtn" class="btn btn-danger">Supprimer la photo</button>
              </div>
              <form id="profileForm">
                <label  for="profileUpload" class="form-label bg-dark px-2">Choisir une nouvelle photo :</label>
                <input type="file" id="profileUpload" class="form-control" accept="image/*">
              </form>
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn bg-gradient-success" onclick="submitProfilePicture()">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>

      <!--Modal de Mise à jour informations-->
      <div class="modal fade" id="informationsModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
             
              <form name="form_update_info_user" id="form_update_info_user" method="post">
                {% csrf_token %}
                <div class="d-flex align-items-center" style="margin: 10px;">
                    <span class="badge bg-gradient-secondary text-white py-2 px-2 me-3" style="width: 180px; display: inline-block;">Nom <i class="fa fa-user-edit"></i></span>    
                    <input type="text" name="username" id="update_username" placeholder="{{request.user.username}}" class="form-control" >
                </div>

                <div class="d-flex align-items-center" style="margin: 10px;">
                    <span class="badge bg-gradient-secondary text-white py-2 px-2 me-3" style="width: 180px; display: inline-block;">Email <i class="fa fa-envelope"></i></span>    
                    <input type="text" name="email" id="update_email" placeholder="{{request.user.email}}" class="form-control" >
                </div>

                <div class="d-flex align-items-center" style="margin: 10px;">
                    <span class="badge bg-gradient-secondary text-white py-2 px-2 me-3" style="width: 180px; display: inline-block;">Téléphone <i class="fa fa-phone"></i></span>    
                    <input type="text" name="phone" id="update_phone" placeholder="{{request.user.phone}}" class="form-control" >
                </div>

                <div class="d-flex align-items-center" style="margin: 10px;">
                    <span class="badge bg-gradient-secondary text-white py-2 px-2 me-3" style="width: 180px; display: inline-block;">Whatsapp <i class="fab fa-whatsapp"></i></span>    
                    <input type="text" name="whatsapp" id="update_phone" placeholder="{{request.user.whatsapp}}" class="form-control" >
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn bg-gradient-success">Mettre à jour</button>
                </div>

              </form>
             
            </div>
  
              <!-- Animation de Chargement -->
              <div id="loading_update_info" class="d-none text-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mt-2 text-success">Mis à jour des infos...</p>
              </div>
              <!-- Confirmation de Succès -->
              <div id="success_update_info" class="d-none text-center">
                <div class="text-success">
                  <i class="fa fa-check-circle" style="font-size: 4rem;"></i>
                </div>
                <p class="mt-2 text-success">Vos Informations sont mises à jour!</p>
              </div>
          </div>
        </div>
      </div>
      <!--Fin de Modal-->
      
      
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
function submitProfilePicture() {
  const fileInput = document.getElementById('profileUpload');
  const file = fileInput.files[0];

  if (!file) {
    alert('Veuillez sélectionner une photo avant de continuer.');
    return;
  }

  const formData = new FormData();
  formData.append('profile_picture', file);

  fetch('/upload-profile-picture/', {
    method: 'POST',
    headers: {
      'X-CSRFToken': getCookie('csrftoken') // Récupération du CSRF token
    },
    body: formData
  })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        document.getElementById('profilePicture').src = data.profile_picture; // Mettre à jour la photo de profil affichée
        alert('Photo mise à jour avec succès !');
        const modal = bootstrap.Modal.getInstance(document.getElementById('profileModal'));
        modal.hide(); // Fermer le modal
      } else {
        alert('Une erreur est survenue lors de la mise à jour.');
      }
    })
    .catch(error => {
      console.error('Erreur:', error);
      alert('Une erreur inattendue est survenue.');
    });
}


function deleteProfilePicture() {
  fetch('/delete-profile-picture/', {
    method: 'POST',
    headers: {
      'X-CSRFToken': getCookie('csrftoken') // Récupération du CSRF token
    }
  })
  .then(response => response.json())
  .then(data => {
    if (data.success) {
      document.getElementById('profilePicture').src = '/default-profile-picture.jpg'; // Image par défaut
      alert('Photo supprimée avec succès !');
      const modal = bootstrap.Modal.getInstance(document.getElementById('profileModal'));
      modal.hide(); // Fermer le modal
    } else {
      alert('Une erreur est survenue.');
    }
  });
}





document.getElementById('deletePhotoBtn').addEventListener('click', deleteProfilePicture);

// Fonction pour récupérer le CSRF token
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === name + '=') {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

// Update the Informations of user

$("#form_update_info_user").on("submit", function (e) {
  e.preventDefault();
  let url = $(this).data('url');
  let form_update_info = $(this).serialize();

  console.log(form_update_info);

  $("#loading_update_info").removeClass("d-none");
  $(".modal-footer button").prop("disabled", true);

  $.ajax({
      type: "POST",
      url: url,
      data: form_update_info,
      success: function (response) {
          $("#loading_update_info").addClass("d-none");
          if (response.status === "success") {
              $("#success_update_info").removeClass("d-none");
              $("#form_update_info")[0].reset();
              $("#form_update_info").addClass("d-none");
              
              setTimeout(() => {
                  $(".modal-footer button").prop("disabled", false);
                  $("#update").removeClass("show").css("display", "none");
                  $(".modal-backdrop").remove();
                  $("#success_update_info").addClass("d-none");
                  location.reload();
              }, 2000);
          } else {
              alert("Error: " + response.message);
          }
      },
      error: function (xhr, status, error) {
          console.error("Error occurred:", { xhr, status, error });
          $("#loading_update_info").addClass("d-none");
          $(".modal-footer button").prop("disabled", false);
          alert("An error occurred while submitting the form.");
      },
  });
});
// End ============================


</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock javascripts %}
