{% extends 'layouts/base.html' %}

{% block title %} Paramettres {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    #profilePicture {
  object-fit: cover;
}

</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">


    <div class="row">
      <div class="col-md-12 mt-4 mx-2">
        <div class="card">
          <div class="card-header pb-0 px-3">
            <h6 class="mb-0">PARAMETTRES ET INFORMATIONS</h6>
          </div>
          <div class="card-body pt-4 p-3">
            <ul class="list-group">
              <li class="col-md-12 list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column align-items-center mb-4">
                    <!-- Photo de profil -->
                    <div class="position-relative">
                        <img src="{{ ASSETS_ROOT }}/img/bruce-mars.jpg" id="profilePicture" alt="Photo de profil" class="rounded-circle border border-2" width="100" height="100">
                        <button class="position-absolute bottom-0 end-0 bg-gradient-success text-white rounded-circle px-2 py-1 border-0" data-bs-toggle="modal" data-bs-target="#profileModal" style="cursor: pointer;">
                          <i class="fas fa-camera"></i>
                        </button>
                    </div>                      
                  </div>
                  
                  <div class="d-flex flex-column mx-3">
                    <h6 class="mb-3 text-sm">INFORMATIONS</h6>
                    <form id="user-info-form" method="POST" action="{% url 'update_user_info' %}">
                        {% csrf_token %}
                        <label class="mb-2 text-xs">Nom d'utilisateur:</label>
                        <input type="text" name="username" class="form-control mb-2 text-dark font-weight-bold" 
                               value="{{ request.user.username }}" required>
                        
                        <label class="mb-2 text-xs">Adresse Email:</label>
                        <input type="email" name="email" class="form-control mb-2 text-dark font-weight-bold" 
                               value="{{ request.user.email }}" required>
                        
                        <label class="mb-2 text-xs">Numéro de Téléphone:</label>
                        <input type="tel" name="phone" class="form-control mb-2 text-dark font-weight-bold" 
                               value="{{ request.user.phone }}" required>
                        
                        <label class="mb-2 text-xs">Numéro de Whatsapp:</label>
                        <input type="tel" name="whatsapp" class="form-control mb-2 text-dark font-weight-bold" 
                               value="{{ request.user.whatsapp }}">
                        
                        <button type="submit" class="btn btn-success mt-3">Mettre à jour</button>
                    </form>
                </div>
              </li>
              
              <li class="col-md-12 list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm">PARAMETTRES DES NOTTIFICATIONS</h6>
                  <ul class="list-group">
                    <li class="list-group-item border-0 px-0">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault3">
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault3">Activer Nottification par SMS</label>
                      </div>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault4">
                        <label class="form-check-label text-body ms-3 mb-0" for="flexSwitchCheckDefault4">Activer Nottification par Whatsapp</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!--Modal de Mise à jour de la photo de profil-->
      <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center py-4">
                    <p class="text-muted mb-4">
                        <strong>Vous ne pouvez pas changer votre photo de profil avec un abonnement gratuit.</strong></br>
                        Pour débloquer toutes les fonctionnalités et profiter d'une expérience complète, 
                        souscrivez à un abonnement payant dès aujourd'hui !
                    </p>
                    <button class="btn btn-primary bg-gradient-primary px-4 py-2">
                        <i class="fas fa-lock me-2"></i> Passer à un abonnement payant
                    </button>
                </div>
                <div class="modal-footer border-0 justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Bootstrap -->
<div class="modal fade" id="premiumFeatureModal" tabindex="-1" aria-labelledby="premiumFeatureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body text-center py-4">
            <p class="text-muted mb-4">
                <strong>Vous ne pouvez pas activer les nottifications par SMS/Whatsapp avec un abonnement gratuit.</strong></br>
                Pour débloquer toutes les fonctionnalités et profiter d'une expérience complète, 
                souscrivez à un abonnement payant dès aujourd'hui !
            </p>
            <button class="btn btn-primary bg-gradient-primary px-4 py-2">
                <i class="fas fa-lock me-2"></i> Passer à un abonnement payant
            </button>
        </div>
        <div class="modal-footer border-0 justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>
</div>

    

      <!--Fin de Modal-->
      
      
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const premiumSwitches = document.querySelectorAll('.form-check-input');

    premiumSwitches.forEach(switchElement => {
      switchElement.addEventListener('change', function (e) {
        if (this.checked) {
          // Afficher le modal
          const premiumModal = new bootstrap.Modal(document.getElementById('premiumFeatureModal'));
          premiumModal.show();

          // Réinitialiser l'état du switch après un délai pour laisser le modal s'afficher
          setTimeout(() => {
            this.checked = false;
          }, 100);
        }
      });
    });
  });
</script>
<script>
function submitProfilePicture() {
  const fileInput = document.getElementById('profileUpload');
  const file = fileInput.files[0];

  if (!file) {
    alert('Veuillez sélectionner une photo avant de continuer.');
    return;
  }

  const formData = new FormData();
  formData.append('profile_picture', file);

  fetch('/upload-profile-picture/', {
    method: 'POST',
    headers: {
      'X-CSRFToken': getCookie('csrftoken') // Récupération du CSRF token
    },
    body: formData
  })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        document.getElementById('profilePicture').src = data.profile_picture; // Mettre à jour la photo de profil affichée
        alert('Photo mise à jour avec succès !');
        const modal = bootstrap.Modal.getInstance(document.getElementById('profileModal'));
        modal.hide(); // Fermer le modal
      } else {
        alert('Une erreur est survenue lors de la mise à jour.');
      }
    })
    .catch(error => {
      console.error('Erreur:', error);
      alert('Une erreur inattendue est survenue.');
    });
}


function deleteProfilePicture() {
  fetch('/delete-profile-picture/', {
    method: 'POST',
    headers: {
      'X-CSRFToken': getCookie('csrftoken') // Récupération du CSRF token
    }
  })
  .then(response => response.json())
  .then(data => {
    if (data.success) {
      document.getElementById('profilePicture').src = '/default-profile-picture.jpg'; // Image par défaut
      alert('Photo supprimée avec succès !');
      const modal = bootstrap.Modal.getInstance(document.getElementById('profileModal'));
      modal.hide(); // Fermer le modal
    } else {
      alert('Une erreur est survenue.');
    }
  });
}





document.getElementById('deletePhotoBtn').addEventListener('click', deleteProfilePicture);

// Fonction pour récupérer le CSRF token
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === name + '=') {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

// Update the Informations of user

$("#form_update_info_user").on("submit", function (e) {
  e.preventDefault();
  let url = $(this).data('url');
  let form_update_info = $(this).serialize();

  console.log(form_update_info);

  $("#loading_update_info").removeClass("d-none");
  $(".modal-footer button").prop("disabled", true);

  $.ajax({
      type: "POST",
      url: url,
      data: form_update_info,
      success: function (response) {
          $("#loading_update_info").addClass("d-none");
          if (response.status === "success") {
              $("#success_update_info").removeClass("d-none");
              $("#form_update_info")[0].reset();
              $("#form_update_info").addClass("d-none");
              
              setTimeout(() => {
                  $(".modal-footer button").prop("disabled", false);
                  $("#update").removeClass("show").css("display", "none");
                  $(".modal-backdrop").remove();
                  $("#success_update_info").addClass("d-none");
                  location.reload();
              }, 2000);
          } else {
              alert("Error: " + response.message);
          }
      },
      error: function (xhr, status, error) {
          console.error("Error occurred:", { xhr, status, error });
          $("#loading_update_info").addClass("d-none");
          $(".modal-footer button").prop("disabled", false);
          alert("An error occurred while submitting the form.");
      },
  });
});
// End ============================




</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock javascripts %}
